<h1>Adding a hotel here</h1>
<!--addHotelctrl-->
<div>
    <form ng-submit="addHotelctrl.addHotel()">
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        <h4>Name</h4>
                    </td>
                    <td><input type="text" ng-model="addHotelctrl.name" class="form-control"></td>
                </tr>
                <tr>
                    <td>
                        <h4>Stars</h4>
                    </td>
                    <td><select ng-model="addHotelctrl.stars" class="form-control">
                        <option value="1">1</option>
                         <option value="2">2</option>
                          <option value="3">3</option>
                           <option value="4">4</option>
                           <option value="5">5</option>
                        </select> 
                </tr>
                <tr>
                    <td>
                        <h4>Services</h4>
                    </td>
                    <td> 
                    <div>
                        <select multiple ng-model="addHotelctrl.services" ng-change="addHotelctrl.genData(addHotelctrl.services)"class="form-control">
                        <option value="Room Service"> Room Service</option>
                        <option value="24-hour front desk"> 24-hour front desk</option>
                        <option value="Express check-in/check-out"> Express check-in/check-out</option>
                        <option value="Currency exchange"> Currency exchange</option>
                        <option value="Ticket service"> Ticket service</option>
                        <option value="Luggage storage">Luggage storage</option>
                        <option value="ATM/cash machine on site"> ATM/cash machine on site</option>
                        <option value="Concierge service"> Concierge service</option>
                        <option value="Laundry"> Laundry</option>
                        <option value="Dry cleaning"> Dry cleaning</option>
                        <option value="Ironing service"> Ironing service</option>
                        <option value="Shoeshine">Shoeshine</option>
                        <option value="Meeting/banquet facilitiese"> Meeting/banquet facilitiese</option>
                        <option value="Business centre">Business centre</option>
                        <option value="Ironing service"> Ironing service</option>
                        <option value="Fax/photocopying"> Fax/photocopying</option>
                        <option value="VIP room facilitiese"> VIP room facilities</option>
                        <option value="Bridal suite"> Bridal suite</option>
                        </select>
                    </div>
                        <div><textarea cols="30" rows="10" ng-model="addHotelctrl.servicesData"></textarea></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>Description:</h4>
                    </td>
                    <td><textarea cols="30" rows="10" ng-model="addHotelctrl.description" class="form-control"></textarea>{{addHotelctrl.description}}</td>
                </tr>
                <tr>
                    <td>
                        <h4>Currency:</h4>
                    </td>
                    <td><select ng-model="addHotelctrl.currency" multiple="false" class="form-control">
                        <option value="€">Euros</option>
                         <option value="$">Dollars</option>
                          <option value="HUF">HUF</option>
                           <option value="£">Pounds</option>

                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>Address:</h4>
                    </td>
                    <td><textarea cols="30" rows="10" ng-model="addHotelctrl.address" class="form-control"></textarea></td>
                </tr>
            </tbody>
        </table>
        <div style="text-align:center"><button class="btn btn-primary" type="submit">
        Add Hotel</button></div>
    </div> 
    </form>
    <div>
     <div ng-if="addHotelctrl.added"> 
        <div class="alert alert-success"><strong>Hotel added successfully</strong></div>
    </div>
</div>
    