  /* Sticky footer styles
  -------------------------------------------------- */
  html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 90px;
  }
  .padded {
    padding-top: 30px
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    align-content: center;
    height: 90px;
    background-color:#2b3e50;
    background: #f5f5f5;
    padding-top: 20px;
  }
  .table{
    position:centre;
  }
  .container{
    padding: 60px 0 0 0;
  }
.home{
  color:black;
  background-image: url("/photos/room/home.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.back{
  background: "#2b3e50"
}